{% if common is defined %}

- src: git+https://github.com/ExperitestOfficial/ansible-role-postgresql-server.git
  version: {{ version }}
  name: postgresql-server

- src: git+https://github.com/ExperitestOfficial/ansible-role-java8.git
  version: {{ version }}
  name: java8

- src: git+https://github.com/ExperitestOfficial/ansible-role-brew.git
  version: master
  name: brew2

{% elif cloudserver is defined %}

- src: git+https://github.com/ExperitestOfficial/ansible-role-cloud-server.git
  version: {{ version }}
  name: cloud-server

{% elif regionalproxy is defined %}

- src: git+https://github.com/ExperitestOfficial/ansible-role-regional-proxy.git
  version: {{ version }}
  name: regional-proxy

{% elif cloudagent is defined %}

- src: git+https://github.com/ExperitestOfficial/ansible-role-cloud-agent.git
  version: {{ version }}
  name: cloud-agent

{% elif filestorage is defined %}

- src: git+https://github.com/ExperitestOfficial/ansible-role-file-storage.git
  version: {{ version }}
  name: file-storage

{% elif appsigner is defined %}

- src: git+https://github.com/ExperitestOfficial/ansible-role-app-signer.git
  version: {{ version }}
  name: app-signer

{% elif reporter is defined %}

- src: git+https://github.com/ExperitestOfficial/ansible-role-reporter.git
  version: {{ version }}
  name: reporter

{% elif nv is defined %}

- src: git+https://github.com/ExperitestOfficial/ansible-role-cloud-nv
  version: {{ version }}
  name: cloud-nv

{% elif selagent is defined %}

- src: git+https://github.com/ExperitestOfficial/ansible-role-selenium-agent  
  version: {{ version }}
  name: selenium-agent 

{% elif audioservice is defined %}

- src: git+https://github.com/ExperitestOfficial/ansible-role-audioservice-cloudagent.git
  version: {{ version }}
  name: audioservice-cloudagent

{% elif emulator is defined %}

- src: git+https://github.com/ExperitestOfficial/ansible-role-cloud-emulator-host.git
  version: {{ version }}
  name: cloud-emulator-host

{% elif webstudio is defined %}

- src: git+https://github.com/ExperitestOfficial/ansible-role-web-studio.git
  version: {{ version }}
  name: web-studio

{% elif sanity is defined %}

- src: git+https://github.com/ExperitestOfficial/ansible-role-sanity.git
  version: kapilrefactorsanity
  name: sanity

{% elif java is defined %}

- src: git+https://github.com/ExperitestOfficial/ansible-role-java8.git
  version: {{ version }}
  name: java8

{% elif mdmserver is defined %}

- src: git+https://github.com/ExperitestOfficial/ansible-role-mdm-server.git
  version: {{ version }}
  name: mdm-server

{% elif bot is defined %}

- src: git+https://github.com/ExperitestOfficial/ansible-role-bot.git
  version: main
  name: bot

{% elif vm_sanity is defined %}

- src: git+https://github.com/ExperitestOfficial/ansible-role-disk-space-validator.git
  version: master
  name: disk-space-validator

{% elif device_bridge is defined %}

- src: git@github.com:ExperitestOfficial/ansible-role-device-bridge.git
  version: {{ version }}
  scm: git
  name: device-bridge

{% elif daas is defined %}

- src: git@github.com:ExperitestOfficial/ansible-role-daas.git
  version: {{ version }}
  scm: git
  name: daas

{% elif share_manager is defined %}

- src: git@github.com:ExperitestOfficial/ansible-role-share-manager.git
  version: {{ version }}
  scm: git
  name: share-manager

{% else %}

{% endif %}
